@{
    Layout = "_Layout";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/js/app-home.js"></script>
    <script src="~/js/homeController.js"></script>
}
<div class="row" ng-app="app-home">
    <div ng-controller="homeController as vm">
    </div>
</div>
